In [3]:
import pandas as pd
pd.set_option('display.max_columns',False)
import numpy as np
import datetime as dt
import psycopg2
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
connection = psycopg2.connect(
    host="mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com",
    database="mid_term_project",
    user="lhl_student",
    password="lhl_student",
    port=5432)

In [3]:
df_fuel = pd.read_sql_query('SELECT * FROM fuel_comsumption', connection)

In [6]:
df_fuel.to_csv('fuel.csv',index=False)

In [ ]:
# df_flights = pd.read_sql_query('SELECT * FROM flights ORDER BY RANDOM() LIMIT 3000;', connection)
# df_fuel = pd.read_sql_query('SELECT * FROM fuel_comsumption ORDER BY RANDOM() LIMIT 3000;', connection)
# df_passenger = pd.read_sql_query('SELECT * FROM passengers ORDER BY RANDOM() LIMIT 3000;', connection)

In [70]:
df_passenger = pd.read_sql_query("SELECT * FROM passengers WHERE year = 2020 ORDER BY RANDOM() LIMIT 500000;", connection)

In [37]:
df_flights_2019 = pd.read_sql_query("SELECT * FROM flights WHERE date_part('year', TO_DATE(fl_date,'YYYY-MM-DD')) = 2019 ORDER BY RANDOM() LIMIT 300000;", connection)

In [39]:
df_flights_2019.to_csv('flights_2019_300000.csv',index=False)

In [74]:
df_passenger.to_csv('passenger500000.csv',index=False)

In [2]:
df_flights = pd.read_csv('flights_2019_300000.csv')

In [175]:
weather = pd.read_csv('weather.csv')

In [43]:
df_flights = df_flights_2019.copy()

In [3]:
df_flights.head()

      fl_date mkt_unique_carrier  ... longest_add_gtime no_name
0  2019-06-18                 DL  ...               NaN     NaN
1  2019-07-02                 AA  ...               NaN     NaN
2  2019-10-11                 UA  ...               NaN     NaN
3  2019-10-14                 AA  ...               NaN     NaN
4  2019-10-26                 DL  ...               NaN     NaN

[5 rows x 42 columns]

In [71]:
df_flights['op_unique_carrier'].value_counts()

WN    50366
DL    36485
AA    35417
OO    30776
UA    23215
YX    12310
MQ    12283
B6    11056
OH    10594
AS     9974
9E     9471
YV     8483
NK     7587
EV     5048
F9     4918
PT     4590
QX     4548
ZW     4012
G4     3957
CP     3440
HA     3074
G7     2924
AX     2920
C5     2165
EM      332
KS       55
Name: op_unique_carrier, dtype: int64

In [72]:
weather

        date_time location  totalSnow_cm  precipMM  visibility  windspeedKmph
0      2019-01-01      ABE           0.0      17.4           9             18
1      2019-01-02      ABE           0.0       0.1          10             12
2      2019-01-03      ABE           0.0       1.4           7              7
3      2019-01-04      ABE           0.0       0.0           9             11
4      2019-01-05      ABE           0.0      25.3           8             11
...           ...      ...           ...       ...         ...            ...
135775 2019-12-27      YUM           0.0       0.5          10             12
135776 2019-12-28      YUM           0.0       0.0          10              8
135777 2019-12-29      YUM           0.0       0.0          10              8
135778 2019-12-30      YUM           0.0       0.0          10             13
135779 2019-12-31      YUM           0.0       0.2          10             17

[135780 rows x 6 columns]

features to remove?

comparing flights_test columns to training data columns. test dataset is missing the following columns: dep_time, dep_delay taxi_out wheels_off wheels_on taxi_in arr_time cancelled cancellation_code diverted dup actual_elapsed_time air_time carrier_delay weather_delay nas_delay security_delay late_aircraft_delay first_dep_time total_add_gtime longest_add_gtime no_name

remove: first_dep_time, total_add_gtime, longest_add_gtime, no_name, dup, mkt_unique_carrier, branded_code_share, op_unique_carrier, op_carrier_fl_num, tail_num, origin_airport_id, dest_airport_id, cancelled, cancellation_code, flights

delay categories: carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay. Fill na with 0 as they have no delays

target is arr_delay: Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers.
does it make sense to remove the delay categories for now? Used for the stretch goal. 

What to use for origin and destination classifiers? dest? origin? city name?

need to split origin_city_name/dest_city_name

feature engineering: check correlation matrix or do a pca

In [45]:
df_flights.isnull().sum()

fl_date                     0
mkt_unique_carrier          0
branded_code_share          0
mkt_carrier                 0
mkt_carrier_fl_num          0
op_unique_carrier           0
tail_num                 1051
op_carrier_fl_num           0
origin_airport_id           0
origin                      0
origin_city_name            0
dest_airport_id             0
dest                        0
dest_city_name              0
crs_dep_time                0
dep_time                 5613
dep_delay                5613
taxi_out                 5775
wheels_off               5775
wheels_on                5934
taxi_in                  5934
crs_arr_time                0
arr_time                 5934
arr_delay                6648
cancelled                   0
cancellation_code      294189
diverted                    0
dup                         0
crs_elapsed_time            1
actual_elapsed_time      6648
air_time                 6648
flights                     0
distance                    0
carrier_delay          243572
weather_delay          243572
nas_delay              243572
security_delay         243572
late_aircraft_delay    243572
first_dep_time         297871
total_add_gtime        297871
longest_add_gtime      297871
no_name                300000
dtype: int64

In [4]:
#drop flights that were cancelled as they have no delays
df_flights = df_flights[df_flights['cancelled']==0]

In [177]:
#split the city and country for origin and destination
# df_flights[['origin_city','origin_state']] = df_flights['origin_city_name'].str.split(',', expand=True)
# df_flights[['dest_city','dest_state']] = df_flights['dest_city_name'].str.split(',', expand=True)

In [5]:
#drop some columns we dont need. first_dep_time, total_add_gtime, longest_add_gtime, no_name are mainly filled with null values. As we are dealing with delays, any cancellations are not subject to delays. diverted flights also do not make it
# to their original destination
df_flights = df_flights.drop(['first_dep_time','total_add_gtime','longest_add_gtime','no_name','cancelled','cancellation_code','diverted'],axis=1)

In [6]:
df_flights['carrier_delay'].isna().sum()/len(df_flights)*100

80.81913327826669

In [7]:
#drop the 5 delay columns for the time being. A large percent of these values are na values
df_flights = df_flights.drop(['carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay'],axis=1)

In [11]:
#Fillna for the 5 delay columns, as the nan values appeared when there were no delays at all
# df_flights = df_flights.fillna({'carrier_delay':0,'weather_delay':0,'nas_delay':0,'security_delay':0,'late_aircraft_delay':0})

In [8]:
#drop na rows in following columns. We have a big enough dataset to ignore these.
df_flights = df_flights.dropna(subset=['tail_num','dep_time','dep_delay','taxi_out','wheels_off','wheels_on','taxi_in','arr_time','arr_delay','actual_elapsed_time','air_time'])

In [9]:
#change all times in the hhmm format to be integers for consistency
df_flights[['dep_time','wheels_off','wheels_on','arr_time']] = df_flights[['dep_time','wheels_off','wheels_on','arr_time']].astype(int)

In [10]:
# won't be using the flight number in our prediction, as well as some of the identifiers. Drop some related carrier identifiers, non-split city names. only keeping op_unique_carrier as our identifier
df_flights = df_flights.drop(['mkt_unique_carrier','branded_code_share','mkt_carrier','tail_num','dup','origin_city_name','dest_city_name','mkt_carrier_fl_num','origin_airport_id','dest_airport_id','mkt_carrier_fl_num','op_carrier_fl_num','flights'],axis=1)

In [11]:
#is dep_time and arr_time necessary? dep_delay and arr_delay tells us what we already need.
df_flights = df_flights.drop(['dep_time','arr_time'],axis=1)

In [12]:
#drop columns not in testing dataset
df_flights = df_flights.drop(['dep_delay','taxi_out','wheels_off','wheels_on','taxi_in','actual_elapsed_time','air_time'],axis=1)

In [186]:
# drop origin state and destination state as they are not useful to us
# df_flights = df_flights.drop(['origin_state','dest_state'],axis=1)

In [13]:
#round crs times to the hour, rather than hhmm
df_flights['crs_dep_time'] = df_flights['crs_dep_time']//100
df_flights['crs_arr_time'] = df_flights['crs_arr_time']//100

In [14]:
#seperate fl_date to month and day of the week. monday is 0,tuesday = 1, wednesday = 2, thursday = 3, friday = 4, saturday = 5, sunday = 6
df_flights['fl_date'] = pd.to_datetime(df_flights['fl_date'])
df_flights['month'] = df_flights['fl_date'].dt.month
df_flights['weekday']=df_flights['fl_date'].dt.weekday

In [ ]:
#should pick either origin/dest or the origin/destination city
# df_flights = df_flights.drop(['fl_date','origin','dest'],axis=1)

In [28]:
# was unable to get weather information for this location. Seems like there is only 1 location as well, so just drop to save some hassle.
df_flights = df_flights[df_flights['origin']!='XWA']
df_flights = df_flights[df_flights['dest']!='XWA']

In [36]:
df_flights.head()

     fl_date op_unique_carrier origin  ... distance  month  weekday
0 2019-06-18                OO    DTW  ...    243.0      6        1
1 2019-07-02                YV    DFW  ...    282.0      7        1
2 2019-10-11                ZW    SAV  ...    773.0     10        4
3 2019-10-14                OH    CLT  ...    815.0     10        0
4 2019-10-26                DL    JFK  ...   1990.0     10        5

[5 rows x 11 columns]

In [20]:
df_flights['origin'].nunique()

371

In [176]:
weather.head()

    date_time  maxtempC  mintempC  ...  winddirDegree  windspeedKmph  location
0  2019-01-01        11         4  ...            263             18       ABE
1  2019-01-02         4         0  ...            180             12       ABE
2  2019-01-03         6         0  ...            248              7       ABE
3  2019-01-04         6         0  ...            222             11       ABE
4  2019-01-05         6         2  ...            169             11       ABE

[5 rows x 25 columns]

In [177]:
#choosing weather data to use
weather = weather[['date_time','location','totalSnow_cm','precipMM','visibility','windspeedKmph']]

In [178]:
weather.head()

    date_time location  totalSnow_cm  precipMM  visibility  windspeedKmph
0  2019-01-01      ABE           0.0      17.4           9             18
1  2019-01-02      ABE           0.0       0.1          10             12
2  2019-01-03      ABE           0.0       1.4           7              7
3  2019-01-04      ABE           0.0       0.0           9             11
4  2019-01-05      ABE           0.0      25.3           8             11

In [44]:
df_flights.head()

     fl_date op_unique_carrier origin  ... distance  month  weekday
0 2019-06-18                OO    DTW  ...    243.0      6        1
1 2019-07-02                YV    DFW  ...    282.0      7        1
2 2019-10-11                ZW    SAV  ...    773.0     10        4
3 2019-10-14                OH    CLT  ...    815.0     10        0
4 2019-10-26                DL    JFK  ...   1990.0     10        5

[5 rows x 11 columns]

In [244]:
# using origin and dest, drop origin_city and dest_city
# df_flights = df_flights.drop(['origin_city','dest_city'],axis=1)

In [45]:
df_flights2 = df_flights.copy()

In [46]:
df_flights2

          fl_date op_unique_carrier origin  ... distance  month  weekday
0      2019-06-18                OO    DTW  ...    243.0      6        1
1      2019-07-02                YV    DFW  ...    282.0      7        1
2      2019-10-11                ZW    SAV  ...    773.0     10        4
3      2019-10-14                OH    CLT  ...    815.0     10        0
4      2019-10-26                DL    JFK  ...   1990.0     10        5
...           ...               ...    ...  ...      ...    ...      ...
299994 2019-04-25                OO    SBN  ...    411.0      4        3
299995 2019-03-23                EV    TUL  ...    585.0      3        5
299996 2019-01-21                NK    BOS  ...   1249.0      1        0
299998 2019-01-30                WN    DAL  ...    755.0      1        2
299999 2019-10-03                OO    RDD  ...    199.0     10        3

[293323 rows x 11 columns]

In [54]:
def make_bins(df):
    '''
    Bin departure and arrival times to morning, afternoon, evening, night
    Morning: 12am-5am
    Afternoon: 6am-11am
    Evening: 12pm-5pm
    Night: 6pm-11pm
    '''
    label_names = ['Morning','Afternoon','Evening','Night']
    cut_points = [0,5,11,17,23]
    df_flights2["crs_dep_bin"] = pd.cut(df_flights2["crs_dep_time"], cut_points, labels=label_names,include_lowest=True)
    df_flights2["crs_arr_bin"] = pd.cut(df_flights2["crs_arr_time"], cut_points, labels=label_names,include_lowest=True)
    return df

In [55]:
make_bins(df_flights2)

          fl_date op_unique_carrier origin  ... weekday  crs_dep_bin  crs_arr_bin
0      2019-06-18                OO    DTW  ...       1        Night        Night
1      2019-07-02                YV    DFW  ...       1    Afternoon    Afternoon
2      2019-10-11                ZW    SAV  ...       4    Afternoon    Afternoon
3      2019-10-14                OH    CLT  ...       0        Night      Morning
4      2019-10-26                DL    JFK  ...       5    Afternoon    Afternoon
...           ...               ...    ...  ...     ...          ...          ...
299994 2019-04-25                OO    SBN  ...       3    Afternoon    Afternoon
299995 2019-03-23                EV    TUL  ...       5    Afternoon    Afternoon
299996 2019-01-21                NK    BOS  ...       0    Afternoon    Afternoon
299998 2019-01-30                WN    DAL  ...       2      Evening        Night
299999 2019-10-03                OO    RDD  ...       3    Afternoon    Afternoon

[293323 rows x 13 columns]

In [179]:
weather['date_time'] = pd.to_datetime(weather['date_time'])

In [57]:
#merge weather data to dataset
flights_weather = pd.merge(df_flights2,weather, how='left',left_on=['fl_date','origin'], right_on=['date_time','location'])

In [58]:
flights_weather

          fl_date op_unique_carrier origin  ... precipMM  visibility  windspeedKmph
0      2019-06-18                OO    DTW  ...      0.4          10              8
1      2019-07-02                YV    DFW  ...      6.5           9             18
2      2019-10-11                ZW    SAV  ...      0.1          10              8
3      2019-10-14                OH    CLT  ...      0.7           8              5
4      2019-10-26                DL    JFK  ...      0.1          10             14
...           ...               ...    ...  ...      ...         ...            ...
293318 2019-04-25                OO    SBN  ...      3.3          10              7
293319 2019-03-23                EV    TUL  ...     21.7           9             20
293320 2019-01-21                NK    BOS  ...      0.2           9             30
293321 2019-01-30                WN    DAL  ...      0.0          10             10
293322 2019-10-03                OO    RDD  ...      0.0          10              6

[293323 rows x 19 columns]

In [59]:
#save the cleaned data to csv
flights_weather.to_csv('cleaned_flights_300000sample1.csv',index=False)

create box plot, remove outliers
make a for loop to get rid of 95% percentile

remove outliers, try for 3 standard deviations from the mean rather than removing points outside the 95th percentile

In [202]:
df_flights = pd.read_csv('cleaned_flights_300000sample1.csv')

In [15]:
std = df_flights['arr_delay'].std()
mean = df_flights['arr_delay'].mean()
outlier_cutoff = mean + 3*std

In [20]:
df_flights = df_flights[df_flights['arr_delay']<outlier_cutoff]

In [21]:
df_flights.to_csv('cleaned_flights_300000sample1.csv',index=False)

### Cleaning test data

In [25]:
df_test = pd.read_sql_query('SELECT * FROM flights_test', connection)

In [4]:
df_test = pd.read_csv('flights_test.csv')

In [5]:
df_test = df_test[df_test['fl_date'] < '2020-01-08']

In [6]:
#drop some features that are not needed
df_test = df_test.drop(['mkt_unique_carrier','branded_code_share','mkt_carrier','mkt_carrier_fl_num','tail_num','origin_airport_id','origin_city_name','dest_airport_id','dest_city_name','dup','flights','op_carrier_fl_num'],axis=1)

In [7]:
#seperate fl_date to month and day of the week. monday is 0,tuesday = 1, wednesday = 2, thursday = 3, friday = 4, saturday = 5, sunday = 6
df_test['fl_date'] = pd.to_datetime(df_test['fl_date'])
df_test['month'] = df_test['fl_date'].dt.month
df_test['weekday'] = df_test['fl_date'].dt.weekday

In [8]:
#round crs times to the hour, rather than hhmm
df_test['crs_dep_time'] = df_test['crs_dep_time']//100
df_test['crs_arr_time'] = df_test['crs_arr_time']//100

In [9]:
df_test.head()

     fl_date op_unique_carrier origin  ... distance  month  weekday
0 2020-01-01                WN    ONT  ...      363      1        2
1 2020-01-01                WN    ONT  ...      363      1        2
2 2020-01-01                WN    ONT  ...      333      1        2
3 2020-01-01                WN    ONT  ...      333      1        2
4 2020-01-01                WN    ONT  ...      333      1        2

[5 rows x 10 columns]

In [44]:
def make_bins_test(df):
    '''
    Bin departure and arrival times to morning, afternoon, evening, night
    Morning: 12am-5am
    Afternoon: 6am-11am
    Evening: 12pm-5pm
    Night: 6pm-11pm
    '''
    label_names = ['Morning','Afternoon','Evening','Night']
    cut_points = [0,5,11,17,23]
    df_test["crs_dep_bin"] = pd.cut(df_test["crs_dep_time"], cut_points, labels=label_names,include_lowest=True)
    df_test["crs_arr_bin"] = pd.cut(df_test["crs_arr_time"], cut_points, labels=label_names,include_lowest=True)
    return df

In [45]:
make_bins_test(df_test)

          fl_date op_unique_carrier origin  ... weekday  crs_dep_bin  crs_arr_bin
0      2020-01-01                WN    ONT  ...       2        Night        Night
1      2020-01-01                WN    ONT  ...       2    Afternoon      Evening
2      2020-01-01                WN    ONT  ...       2        Night        Night
3      2020-01-01                WN    ONT  ...       2      Evening      Evening
4      2020-01-01                WN    ONT  ...       2    Afternoon    Afternoon
...           ...               ...    ...  ...     ...          ...          ...
150618 2020-01-07                9E    DTW  ...       1      Evening        Night
150619 2020-01-07                9E    GSP  ...       1    Afternoon    Afternoon
150620 2020-01-07                9E    ATL  ...       1      Evening        Night
150621 2020-01-07                9E    XNA  ...       1        Night        Night
150622 2020-01-07                9E    PWM  ...       1    Afternoon    Afternoon

[150623 rows x 12 columns]

In [10]:
df_test_weather = pd.read_csv('jan2020_weather.csv')

In [11]:
df_test_weather['date_time'] = pd.to_datetime(df_test_weather['date_time'])

In [12]:
#choosing weather data to use
df_test_weather = df_test_weather[['date_time','location','totalSnow_cm','precipMM','visibility','windspeedKmph']]

In [13]:
#merge test weather data to dataset
df_test_weather = pd.merge(df_test,df_test_weather, how='left',left_on=['fl_date','origin'], right_on=['date_time','location'])

In [59]:
# df_test_weather.to_csv('test_sample_cleaned.csv',index=False)

In [7]:
df_test = pd.read_csv('test_sample_cleaned.csv')

In [10]:
df_test = df_test.drop(['date_time','location'],axis=1)

In [1]:
df_test

NameError: name 'df_test' is not defined

No 2020 passenger details, use last years numbers?

In [26]:
df_passenger = df_passenger.drop(['airline_id','carrier_name','origin_city_name','dest_city_name','region','carrier','origin_airport_id','origin_city_market_id','dest_airport_id','dest_city_market_id'],axis=1)

In [27]:
df_passenger = df_passenger.drop(['carrier_group','carrier_group_new','origin_country_name','dest_country','dest_country_name','origin_country','data_source','aircraft_group','aircraft_type','aircraft_config','distance_group','class',],axis=1)

In [28]:
df_passenger = df_passenger.drop(['departures_scheduled'],axis=1)

In [50]:
df_passenger.head()

   departures_performed    payload   seats  passengers  ...  origin  dest  year  month
0                   4.0    60800.0   304.0       286.0  ...     YVR   DEN  2019     10
1                   5.0   162087.0     0.0         0.0  ...     RIC   SDF  2019      3
2                  45.0  1638000.0  8190.0      7545.0  ...     FLL   DFW  2019      6
3                   9.0   196227.0   684.0       501.0  ...     IAD   IND  2019     11
4                   1.0    38300.0   150.0       147.0  ...     PHX   MCO  2019      6

[5 rows x 15 columns]

In [30]:
#group the flights together by their carrier, month, origin and destination
grouped_pass = df_passenger.groupby(['unique_carrier','origin','dest','month'],axis=0, as_index=False).sum()

In [31]:
#get the average number of passengers for each flight route
grouped_pass['avg_passengers'] = round(grouped_pass['passengers']/grouped_pass['departures_performed'])

In [32]:
# percent capacity of filled seats
grouped_pass['avg_percent_capacity'] = round((grouped_pass['passengers']/grouped_pass['seats']),2)

In [33]:
grouped_pass

       unique_carrier origin dest  ...  year  avg_passengers  avg_percent_capacity
0                 02Q    ACY  DUB  ...  2019            58.0                  0.72
1                 02Q    ANC  KIX  ...  2019            68.0                  0.85
2                 02Q    BFI  KIX  ...  2019            68.0                  0.85
3                 02Q    BOS  STN  ...  2019             0.0                  0.00
4                 02Q    CMH  EDI  ...  2019           265.0                  1.00
...               ...    ...  ...  ...   ...             ...                   ...
304862             ZX    YYZ  STL  ...  2019            44.0                  0.87
304863             ZX    YYZ  STL  ...  2019            39.0                  0.78
304864             ZX    YYZ  STL  ...  2019            37.0                  0.74
304865             ZX    YYZ  STL  ...  2019            38.0                  0.75
304866             ZX    YYZ  STL  ...  2019            35.0                  0.69

[304867 rows x 16 columns]

In [34]:
#merge passenger data with test data 
df_test_passengers = pd.merge(df_test,grouped_pass, how='left',left_on=['op_unique_carrier','origin','dest','month'], right_on=['unique_carrier','origin','dest','month'])

In [48]:
df_test_passengers

           fl_date op_unique_carrier  ... avg_passengers avg_percent_capacity
0       2020-01-01                WN  ...            NaN                  NaN
1       2020-01-01                WN  ...            NaN                  NaN
2       2020-01-01                WN  ...          104.0                 0.72
3       2020-01-01                WN  ...          104.0                 0.72
4       2020-01-01                WN  ...          104.0                 0.72
...            ...               ...  ...            ...                  ...
150618  2020-01-07                9E  ...           57.0                 0.75
150619  2020-01-07                9E  ...           69.0                 0.91
150620  2020-01-07                9E  ...           53.0                 0.72
150621  2020-01-07                9E  ...           50.0                 0.68
150622  2020-01-07                9E  ...           61.0                 0.85

[150623 rows x 18 columns]

In [43]:
df_test_passengers = df_test_passengers.drop(['unique_carrier','departures_performed','payload','seats','passengers','freight','mail','distance_y','ramp_to_ramp','air_time','year'],axis=1)

In [44]:
df_test_passengers.head()

      fl_date op_unique_carrier  ... avg_passengers avg_percent_capacity
0  2020-01-01                WN  ...            NaN                  NaN
1  2020-01-01                WN  ...            NaN                  NaN
2  2020-01-01                WN  ...          104.0                 0.72
3  2020-01-01                WN  ...          104.0                 0.72
4  2020-01-01                WN  ...          104.0                 0.72

[5 rows x 18 columns]

In [51]:
df_test_passengers['avg_passengers'] = df_test_passengers['avg_passengers'].fillna(df_test_passengers['avg_passengers'].mean())

In [53]:
df_test_passengers['avg_percent_capacity'] = df_test_passengers['avg_percent_capacity'].fillna(df_test_passengers['avg_percent_capacity'].mean())

In [57]:
df_test_passengers.to_csv('test_sample_cleaned.csv')

## Explore passengers data

In [24]:
df_passenger = pd.read_csv('passenger500000.csv')

In [ ]:
df_passenger.isnull().sum()

In [16]:
df_passenger = df_passenger.drop(['carrier_group','carrier_group_new','origin_country_name','dest_country','dest_country_name','origin_country','data_source','aircraft_group','aircraft_type','aircraft_config','distance_group','class',],axis=1)

In [17]:
df_passenger = df_passenger.drop(['airline_id','carrier_name','origin_city_name','dest_city_name','region','carrier','origin_airport_id','origin_city_market_id','dest_airport_id','dest_city_market_id'],axis=1)

In [18]:
df_passenger = df_passenger.drop(['departures_scheduled'],axis=1)

In [144]:
df_passenger.head()

   departures_scheduled  departures_performed    payload  ...  dest  year  month
0                   4.0                   4.0    60800.0  ...   DEN  2019     10
1                   5.0                   5.0   162087.0  ...   SDF  2019      3
2                  45.0                  45.0  1638000.0  ...   DFW  2019      6
3                   9.0                   9.0   196227.0  ...   IND  2019     11
4                   1.0                   1.0    38300.0  ...   MCO  2019      6

[5 rows x 16 columns]

In [151]:
#group the flights together by their carrier, month, origin and destination
grouped_pass = df_passenger.groupby(['unique_carrier','origin','dest','month'],axis=0, as_index=False).sum()

In [152]:
#get the average number of passengers for each flight route
grouped_pass['avg_passengers'] = round(grouped_pass['passengers']/grouped_pass['departures_performed'])

In [153]:
# percent capacity of filled seats
grouped_pass['avg_percent_capacity'] = round((grouped_pass['passengers']/grouped_pass['seats']),2)

In [154]:
grouped_pass

       unique_carrier origin dest  ...  year  avg_passengers  avg_percent_capacity
0                 02Q    ACY  DUB  ...  2019            58.0                  0.72
1                 02Q    ANC  KIX  ...  2019            68.0                  0.85
2                 02Q    BFI  KIX  ...  2019            68.0                  0.85
3                 02Q    BOS  STN  ...  2019             0.0                  0.00
4                 02Q    CMH  EDI  ...  2019           265.0                  1.00
...               ...    ...  ...  ...   ...             ...                   ...
304862             ZX    YYZ  STL  ...  2019            44.0                  0.87
304863             ZX    YYZ  STL  ...  2019            39.0                  0.78
304864             ZX    YYZ  STL  ...  2019            37.0                  0.74
304865             ZX    YYZ  STL  ...  2019            38.0                  0.75
304866             ZX    YYZ  STL  ...  2019            35.0                  0.69

[304867 rows x 16 columns]

### Merge passengers data with flights data

In [205]:
df_flights2 = pd.read_csv('cleaned_flights_300000sample1.csv')

In [207]:
#merge passenger data with flights data 
df_flights_passengers = pd.merge(df_flights2,grouped_pass, how='left',left_on=['op_unique_carrier','origin','dest','month'], right_on=['unique_carrier','origin','dest','month'])

In [211]:
df_flights_passengers = df_flights_passengers.drop(['distance_y','year','date_time','location','air_time','unique_carrier'],axis=1)

In [214]:
df_flights_passengers.rename(columns={'distance_x':'distance'},inplace=True)

In [224]:
df_flights_passengers

          fl_date op_unique_carrier  ... avg_passengers avg_percent_capacity
0      2019-06-18                OO  ...           39.0                 0.77
1      2019-07-02                YV  ...           55.0                 0.71
2      2019-10-11                ZW  ...           41.0                 0.81
3      2019-10-14                OH  ...           53.0                 0.77
4      2019-10-26                DL  ...          160.0                 0.89
...           ...               ...  ...            ...                  ...
288587 2019-04-25                OO  ...           43.0                 0.85
288588 2019-03-23                EV  ...           42.0                 0.84
288589 2019-01-21                NK  ...          119.0                 0.66
288590 2019-01-30                WN  ...          122.0                 0.75
288591 2019-10-03                OO  ...           41.0                 0.82

[288592 rows x 26 columns]

In [219]:
df_flights_passengers['fl_date'].dtype

dtype('O')

In [220]:
df_flights_passengers['fl_date'] = pd.to_datetime(df_flights_passengers['fl_date'])

In [227]:
df_flights_passengers.isnull().sum()

fl_date                  0
op_unique_carrier        0
origin                   0
dest                     0
crs_dep_time             0
crs_arr_time             0
arr_delay                0
crs_elapsed_time         0
distance                 0
month                    0
weekday                  0
crs_dep_bin              0
crs_arr_bin              6
totalSnow_cm             0
precipMM                 0
visibility               0
windspeedKmph            0
departures_performed    28
payload                 28
seats                   28
passengers              28
freight                 28
mail                    28
ramp_to_ramp            28
avg_passengers          28
avg_percent_capacity    28
dtype: int64

In [228]:
df_flights_passengers = df_flights_passengers.dropna()

In [229]:
df_flights_passengers.to_csv('cleaned_flights_sample2.csv',index=False)