In [1]:
import pandas as pd
import numpy as np
import psycopg2

In [2]:
# importing data from database
connection = psycopg2.connect(
    host="mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com",
    database="mid_term_project",
    user="lhl_student",
    password="lhl_student",
    port=5432)
df_flights = pd.read_sql_query('SELECT * FROM flights ORDER BY RANDOM() LIMIT 3000;', connection)
df_fuel = pd.read_sql_query('SELECT * FROM fuel_comsumption ORDER BY RANDOM() LIMIT 3000;', connection)
df_passenger = pd.read_sql_query('SELECT * FROM passengers ORDER BY RANDOM() LIMIT 3000;', connection)

In [5]:
# DataFrame Flights 
df_flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [6]:
df_flights.dtypes

fl_date                 object
mkt_unique_carrier      object
branded_code_share      object
mkt_carrier             object
mkt_carrier_fl_num       int64
op_unique_carrier       object
tail_num                object
op_carrier_fl_num        int64
origin_airport_id        int64
origin                  object
origin_city_name        object
dest_airport_id          int64
dest                    object
dest_city_name          object
crs_dep_time             int64
dep_time               float64
dep_delay              float64
taxi_out               float64
wheels_off             float64
wheels_on              float64
taxi_in                float64
crs_arr_time             int64
arr_time               float64
arr_delay              float64
cancelled              float64
cancellation_code       object
diverted               float64
dup                     object
crs_elapsed_time       float64
actual_elapsed_time    float64
air_time               float64
flights                float64
distance               float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
first_dep_time          object
total_add_gtime        float64
longest_add_gtime      float64
no_name                 object
dtype: object

In [7]:
df_flights=df_flights.drop(['no_name','longest_add_gtime','total_add_gtime','first_dep_time','late_aircraft_delay','security_delay','nas_delay','weather_delay','carrier_delay','crs_dep_time','arr_time','actual_elapsed_time','cancellation_code','cancelled'],axis=1)

In [8]:
df_flights.dtypes

fl_date                object
mkt_unique_carrier     object
branded_code_share     object
mkt_carrier            object
mkt_carrier_fl_num      int64
op_unique_carrier      object
tail_num               object
op_carrier_fl_num       int64
origin_airport_id       int64
origin                 object
origin_city_name       object
dest_airport_id         int64
dest                   object
dest_city_name         object
dep_time              float64
dep_delay             float64
taxi_out              float64
wheels_off            float64
wheels_on             float64
taxi_in               float64
crs_arr_time            int64
arr_delay             float64
diverted              float64
dup                    object
crs_elapsed_time      float64
air_time              float64
flights               float64
distance              float64
dtype: object

In [9]:
df_flights.isnull().sum()

fl_date                0
mkt_unique_carrier     0
branded_code_share     0
mkt_carrier            0
mkt_carrier_fl_num     0
op_unique_carrier      0
tail_num              10
op_carrier_fl_num      0
origin_airport_id      0
origin                 0
origin_city_name       0
dest_airport_id        0
dest                   0
dest_city_name         0
dep_time              49
dep_delay             52
taxi_out              52
wheels_off            52
wheels_on             55
taxi_in               55
crs_arr_time           0
arr_delay             61
diverted               0
dup                    0
crs_elapsed_time       0
air_time              60
flights                0
distance               0
dtype: int64

In [10]:
df_flights['tail_num'].nunique()

2279

In [11]:
missing_df = df_flights.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df_flights.shape[0]-missing_df['missing values'])/df_flights.shape[0]*100

In [29]:
missing_df

              variable  missing values  filling factor (%)
0              fl_date               0          100.000000
1   mkt_unique_carrier               0          100.000000
2   branded_code_share               0          100.000000
3          mkt_carrier               0          100.000000
4   mkt_carrier_fl_num               0          100.000000
5    op_unique_carrier               0          100.000000
6             tail_num               6           99.800000
7    op_carrier_fl_num               0          100.000000
8    origin_airport_id               0          100.000000
9               origin               0          100.000000
10    origin_city_name               0          100.000000
11     dest_airport_id               0          100.000000
12                dest               0          100.000000
13      dest_city_name               0          100.000000
14            dep_time              41           98.633333
15           dep_delay              41           98.633333
16            taxi_out              43           98.566667
17          wheels_off              43           98.566667
18           wheels_on              46           98.466667
19             taxi_in              46           98.466667
20        crs_arr_time               0          100.000000
21           arr_delay              53           98.233333
22            diverted               0          100.000000
23                 dup               0          100.000000
24    crs_elapsed_time               0          100.000000
25            air_time              53           98.233333
26             flights               0          100.000000
27            distance               0          100.000000

In [16]:
df_flights=df_flights.dropna(inplace = True)

AttributeError: 'NoneType' object has no attribute 'dropna'

In [15]:
df_flights.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'

In [27]:
type(df_flights)

NoneType

In [19]:
df_flights.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'

In [20]:
df_flights.dtypes

AttributeError: 'NoneType' object has no attribute 'dtypes'

In [21]:
df_flights['arr_delay']=df_flights[df_flights['arr_delay'] >0]

TypeError: 'NoneType' object is not subscriptable

In [22]:
df_flights

In [ ]:
# now spliting date 
# new_df['fl_date'] = pd.to_datetime(new_df['fl_date'])
# new_df['fl_month']= new_df['fl_date'].dt.month
# new_df['fl_day']= new_df['fl_date'].dt.day
# new_df['fl_Year']= new_df['fl_date'].dt.year

In [ ]:
# new_df=new_df.drop('fl_date',axis=1)

In [ ]:
# new_df.head(20)

In [ ]:
# new_df['fl_month']

In [ ]:
# new_df['origin'].unique()

In [ ]:
# df_Jan = new_df[new_df['fl_month'] == 1]

In [ ]:
# df_Jan['arr_delay'] =df_Jan[df_Jan.arr_delay >0]

In [ ]:
# df_Jan['arr_delay'].isnull().sum()